/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #a1d9a7;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.App {
    width: 100%;
    max-width: 1200px;
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 20px;
}

.App-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

nav {
    width: 100%;
    background-color: #7892AB;
    padding: 10px 50px;
    border-radius: 20px;
    margin: 20px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    flex: 1;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}

nav a:hover {
    background-color: #667b8a;
}


.header {
    font-size: 1.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: left;
}



/* Mobile styles */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-bottom: 10px;
    }

    .App-header {
        align-items: center;
    }

    .container {
        align-items: center;
        text-align: center;
    }

    p {
        text-align: center;
    }

    button {
        margin: 0 auto;
    }
}